@import '../../App.scss';

.new-game-panel {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;

	.panel-segment {
		flex-direction: column;
		justify-content: center;
		margin-top: 20px;
		width: $panel-segment-width;
	}

	.list {
		display: flex;
		flex-direction: column;
		width: $panel-segment-width;
		margin: 10px 0;
		@include default-border;
	}

	.user {
		width: $panel-segment-width - 40px;
	}
}
