@import '../../App.scss';

.new-game-panel {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	height: 90vw;

	.panel-segment {
		flex-direction: column;
		justify-content: center;
		margin-top: 20px;
		width: $panel-segment-width;
		&.right {
			padding-top: 10px;
			border-radius: 5px;
		}
		.list {
			display: flex;
			flex-direction: column;
			width: $panel-segment-width;
			margin: 10px 0;
			border: 1px solid grey;
			border-radius: 5px;
		}
	}
}

.button-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 30px;
}
