@import '../../App.scss';

$wind-font-size: 60px;
$wind-font-color: #a2a2a2;

.wind-background {
	transform: rotate(90deg) translateY(-20px);
	display: flex;
	flex-direction: column;
	p {
		font-size: $wind-font-size;
		color: $wind-font-color;
		// animation: color-change 5s infinite;
	}
}

.top-player-container {
	position: absolute;
	width: 100%;
	top: calc(env(safe-area-inset-top));
	z-index: 0;
}

.right-player-container {
	position: absolute;
	right: calc(env(safe-area-inset-right));
	z-index: 1;
}

.bottom-player-container {
	position: absolute;
	width: 100%;
	bottom: calc(env(safe-area-inset-bottom));
	z-index: 2;
}

.self-container {
	position: absolute;
	left: calc(env(safe-area-inset-left));
	z-index: 3;
}

@keyframes color-change {
	0% {
		color: #aeaeae;
	}
	25% {
		color: #a2a2a2;
	}
	50% {
		color: #9a9a9a;
	}
	75% {
		color: #a2a2a2;
	}
	100% {
		color: #aeaeae;
	}
}
