@import '../../App.scss';

.wind-background {
	transform: rotate(90deg);
	color: rgb(160, 160, 160);
	display: flex;
	flex-direction: column;
	p {
		font-size: 60px;
		color: #a2a2a2;
		// animation: color-change 5s infinite;
	}
}

.top-player-container {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 0;
}

.bottom-player-container {
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 1;
}

.right-player-container {
	position: absolute;
	right: 0;
	z-index: 2;
}

.self-container {
	position: absolute;
	left: 0;
	z-index: 3;
}

@keyframes color-change {
	0% {
		color: #aeaeae;
	}
	25% {
		color: #a2a2a2;
	}
	50% {
		color: #9a9a9a;
	}
	75% {
		color: #a2a2a2;
	}
	100% {
		color: #aeaeae;
	}
}
