.login-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	height: 80vh;
	margin: 10vh 0 10vh 0;
}

.login-button {
	padding-bottom: 10vh;
}
