@import '../../../App.scss';

.content {
	@include flow(column wrap);

	h3 {
		font-weight: bold;
		margin: 0px 0px 20px;
	}

	h4 {
		font-weight: bold;
		margin: 10px 0px;
	}

	p {
		font-size: 1rem;
		display: block;
		margin: 0px !important;
	}

	ul {
		margin: 5px 0px;
		padding-inline-start: 12px;
		li {
			font-size: 0.95rem;
			margin: 10px;
		}
	}
}

.scrollable {
	padding: 40px 0px 0px;
	margin-top: const(safe-area-inset-top);
	margin-top: env(safe-area-inset-top);
}

.home-button {
	margin-bottom: const(safe-area-inset-bottom);
	margin-bottom: env(safe-area-inset-bottom);
}
