@import '../../../App.scss';

.preference {
	display: flex;
	flex-direction: row;
	width: 340px;
	height: 32px;
	margin-bottom: 10px;
	justify-content: space-between;

	&.no-margin {
		margin: 0;
	}
}
