@mixin column {
	display: flex;
	flex-direction: column;
}

@mixin row {
	display: flex;
	flex-direction: row;
}

.ann-panels {
	@include row;
	justify-content: center;

	.full-panel {
		@include column;
		align-items: center;
		// justify-content: center;
	}

	.left-panel {
		// justify-content: center;
		padding: 5px 10px 5px 0px;
		margin-right: 10px;
		border-right: 1px solid transparent;
		max-width: 195px;
	}

	.right-panel {
		@include column;
		align-items: center;
		// justify-content: center;
		max-width: 175px;
	}
}
