@import '../../../App.scss';

.wind-background {
	font-size: $wind-font-size;
}

.table {
	@include safeAreaHeight;
	@include safeAreaWidth;
	position: relative;
	max-height: 900px;
	max-width: 900px;
}

.top-player-container {
	@include flex-dir(column);
	position: absolute;
	top: $main-padding;
	z-index: 3;
	width: 100%;
}

.right-player-container {
	@include flex-dir(row-reverse);
	position: absolute;
	right: $main-padding;
	z-index: 4;
	height: 100%;
}

.bottom-player-container {
	@include flex-dir(column-reverse);
	position: absolute;
	bottom: $main-padding;
	margin-bottom: const(safe-area-inset-bottom);
	margin-bottom: env(safe-area-inset-bottom);
	z-index: 5;
	width: 100%;
}

.left-player-container {
	@include flex-dir(row);
	position: absolute;
	left: $main-padding;
	z-index: 2;
	height: 100%;
}
