@import '../../../App.scss';

.wind-background {
	font-size: $wind-font-size;
}

.table {
	position: relative;
	height: 100%;
	@include safeAreaWidth;
	max-height: 900px;
	max-width: 900px;
}

.top-player-container {
	position: absolute;
	width: 100%;
	top: $main-padding;
	z-index: 3;
}

.right-player-container {
	position: absolute;
	right: $main-padding;
	z-index: 4;
}

.bottom-player-container {
	position: absolute;
	width: 100%;
	// bottom: $main-padding;
	bottom: 0;
	z-index: 5;
}

.left-player-container {
	position: absolute;
	left: $main-padding;
	z-index: 2;
}
