@import '../../../App.scss';

.join-game-panel {
	align-content: flex-start;
	max-height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
	max-height: calc(100% - const(safe-area-inset-top) - const(safe-area-inset-bottom));
	margin-bottom: env(safe-area-inset-bottom);
	margin-bottom: const(safe-area-inset-bottom);
	.list {
		display: flex;
		flex-direction: column;
		max-height: 60vh;
		margin: 5px 0;
		width: 250px;
		overflow: scroll;
	}
	.list::-webkit-scrollbar {
		display: none;
	}
}
