@import '../../App.scss';

.top-left-controls-small {
	position: absolute;
	top: $main-padding;
	left: $main-padding;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	z-index: 10;
	.buttons {
		display: flex;
		flex-direction: row;
	}
	.icon-button {
		width: $icon-button-size-small;
		height: $icon-button-size-small;
	}
	.text-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-left: 3 * $main-padding;
		p {
			text-align: start;
			color: $grey-50;
			font-size: $text-font-size-small;
			margin: 0 !important;
		}
	}
}

.bottom-left-controls-small {
	position: absolute;
	left: $main-padding;
	bottom: $main-padding;
	height: 2 * $button-height-small;
	width: 2 * $button-width-small;
	display: flex;
	flex-flow: row wrap-reverse;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 10;
	.button {
		max-width: $button-width-small;
		max-height: $button-height-small;
		min-width: $button-width-small;
		min-height: $button-height-small;
	}
}

.bottom-right-controls-small {
	position: absolute;
	right: $main-padding;
	bottom: $main-padding;
	height: 2 * $button-height-small;
	width: 2 * $button-width-small;
	display: flex;
	flex-flow: row-reverse wrap-reverse;
	align-items: flex-start;
	z-index: 10;
	.button {
		max-width: $button-width-small;
		max-height: $button-height-small;
		min-width: $button-width-small;
		min-height: $button-height-small;
	}
}

.top-right-controls-small {
	position: absolute;
	right: $main-padding;
	top: $main-padding;
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
	justify-content: flex-start;
	z-index: 10;
	.icon-button {
		width: $icon-button-size-small;
		height: $icon-button-size-small;
	}
}

.log-box-small {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: end;
	overflow-y: scroll;
	scroll-behavior: smooth;
	transition: 200ms;
	height: $icon-button-size-small;
	max-width: $log-line-width-small;
	font-size: $log-font-size-small;
	$line-height: $log-line-height-small;
	&.expanded {
		height: 4 * $icon-button-size-small;
		min-width: $log-line-width-small;
		background-color: $color-background;
		align-items: flex-start;
		text-align: start;
		padding-left: 5px;
		@include default-border;
	}
	.log {
		color: $log-grey;
		&.pay {
			color: $log-green;
		}
		&.turn {
			color: $grey-50;
		}
	}
}
