@import '../../App.scss';

@mixin controlStyles {
	@each $size in $sizes {
		.top-left-controls-#{$size} {
			@include absolute-padding($main-padding, 0, 0, $main-padding);
			@include flow(column);
			align-items: flex-start;
			transition: $transition-fast;
			z-index: 10;
			.buttons {
				@include flex-dir(row);
			}
			.icon-button {
				width: getIconButtonSize($size);
				height: getIconButtonSize($size);
			}
			.text-container {
				@include flex-dir(column);
				align-items: flex-start;
				padding-left: getLogMarginLeft($size);
			}
			.text {
				text-align: start;
				font-size: getTextFontSize($size);
			}
			.notif {
				@include flex-dir(column);
				@include default-border;
				justify-content: center;
				padding: 0 10px;
			}
		}

		.bottom-left-controls-#{$size} {
			@include absolute-padding(0, 0, $main-padding - 2px, $main-padding - 2px);
			@include flex-dir(column-reverse);
			border-bottom: 2 * getTilePadding($size) solid transparent;
			border-left: 2 * getTilePadding($size) solid transparent;
			height: 1 * getButtonHeight($size);
			width: 1 * getButtonWidth($size);
			transition: $transition-fast;
			z-index: 10;
			.button {
				max-width: getButtonWidth($size);
				max-height: getButtonHeight($size);
				min-width: getButtonWidth($size);
				min-height: getButtonHeight($size);
			}
			&.full {
				height: 2 * getButtonHeight($size);
			}
		}

		.bottom-right-controls-#{$size} {
			@include absolute-padding(0, $main-padding - 2px, $main-padding - 2px, 0);
			@include flex-dir(column-reverse);
			border-bottom: 2 * getTilePadding($size) solid transparent;
			border-right: 2 * getTilePadding($size) solid transparent;
			align-items: flex-start;
			height: 1 * getButtonHeight($size);
			width: 1 * getButtonWidth($size);
			transition: $transition-fast;
			z-index: 10;
			.button {
				max-width: getButtonWidth($size);
				max-height: getButtonHeight($size);
				min-width: getButtonWidth($size);
				min-height: getButtonHeight($size);
			}
			&.full {
				height: 2 * getButtonHeight($size);
			}
		}

		.top-right-controls-#{$size} {
			@include absolute-padding($main-padding, $main-padding, 0, 0);
			@include flex-dir(row-reverse);
			@include alignI-justifyC(flex-start, flex-start);
			transition: $transition-fast;
			z-index: 10;
			.icon-button {
				width: getIconButtonSize($size);
				height: getIconButtonSize($size);
			}
		}

		.log-box-#{$size} {
			@include flex-dir(column);
			@include align-items-text(flex-end, end);
			overflow: hidden;
			overflow-y: scroll;
			scroll-behavior: smooth;
			height: getIconButtonSize($size);
			max-width: getLogLineWidth($size);
			font-size: getTextFontSize($size);
			line-height: getTextLineHeight($size);
			transition: $transition-fast;
			&.expanded {
				@include align-items-text(flex-start, start);
				@include default-modal-border;
				height: 4 * getIconButtonSize($size);
				max-width: getLogLineWidth($size);
			}
		}
		.log-box-#{$size}::-webkit-scrollbar {
			display: none;
		}

		.center-modal {
			padding: 20px;
			z-index: 1;
			.center-tile-#{$size} {
				height: $enlarge * getShownTileHeight($size);
				width: $enlarge * getShownTileWidth($size);
				border-radius: $default-tile-border-radius;
				@include highlight;
			}
		}

		.chi-alert-#{$size} {
			position: absolute;
			left: 0;
			bottom: getButtonHeight($size) + 10;
			z-index: 15;
			.chi-alert {
				@include default-modal-border;
				align-items: center;
				justify-content: space-between;
				height: 40px;
				width: 180px;
				margin: 0px 4px;
				padding: 0px 5px 0px 10px;
				transition: $transition-medium;
				&.hide {
					transform: translateX(-100%);
				}
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}

@include controlStyles;
