@import '../../App.scss';
$button-width: 45px;
$button-height: 55px;

$text-line-height: 16px;
$text-line-width: 80px;
$text-font-size: 14px;
$text-line-height: 15px;

$log-line-width: 150px;
$log-line-height: 15px;
$log-font-size: 14px;

$icon-button-size: 35px;

.top-right-controls {
	position: absolute;
	top: calc(env(safe-area-inset-top));
	right: calc(env(safe-area-inset-right));
	height: 3 * $icon-button-size;
	width: 3 * $icon-button-size;
	display: flex;
	flex-flow: column wrap-reverse;
	align-items: flex-end;
	justify-content: flex-start;
	z-index: 10;
	.icon-button {
		width: $icon-button-size;
		height: $icon-button-size;
		transform: rotate(90deg);
	}
	.text-container {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		text-align: start;
		transform-origin: top left;
		transform: translateX($text-line-width) rotate(90deg);
		height: $text-line-height * 4;
		width: $text-line-width;
		margin: 5px -2px !important;
		font-size: $text-font-size;
		color: grey;
		line-height: $text-line-height;
	}
}

.top-left-controls {
	position: absolute;
	top: calc(env(safe-area-inset-top));
	left: calc(env(safe-area-inset-left));
	height: 2 * $button-height;
	width: 2 * $button-width;
	display: flex;
	// flex-direction: row;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 10;
	.button {
		max-width: $button-width;
		max-height: $button-height;
		min-width: $button-width;
		min-height: $button-height;
		p {
			transform: rotate(90deg);
		}
	}
}

.bottom-left-controls {
	position: absolute;
	bottom: calc(env(safe-area-inset-bottom));
	left: calc(env(safe-area-inset-left));
	height: 2 * $button-height;
	width: 2 * $button-width;
	display: flex;
	flex-flow: column-reverse wrap;
	align-items: flex-start;
	z-index: 10;
	.button {
		max-width: $button-width;
		max-height: $button-height;
		min-width: $button-width;
		min-height: $button-height;
		p {
			transform: rotate(90deg);
		}
	}
}

.bottom-right-controls {
	position: absolute;
	bottom: calc(env(safe-area-inset-bottom));
	right: calc(env(safe-area-inset-right));
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
	justify-content: flex-start;
	z-index: 10;
	.buttons {
		display: flex;
		flex-direction: column;
	}
	.icon-button {
		width: $icon-button-size;
		height: $icon-button-size;
		transform: rotate(90deg);
	}
}

ul {
	list-style-type: circle;
	max-height: 65vw;
	width: 250px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	li {
		color: rgb(100, 100, 100);
		&.pay {
			color: rgb(0, 100, 10);
		}
		&.turn {
			color: rgb(30, 30, 30);
		}
	}
}

.log-box-container {
	transform-origin: bottom right;
	transform: rotate(90deg) translateY($icon-button-size);
	&.expanded {
		transform: rotate(90deg) translateY(4 * $icon-button-size);
	}
}

.log-box {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: end;
	height: $icon-button-size;
	width: $log-line-width;
	overflow-y: scroll;
	scroll-behavior: smooth;
	transition: 200ms;
	font-size: $log-font-size;
	$log-line-height: $log-line-height;
	&.expanded {
		height: 4 * $icon-button-size;
		border: 1px solid grey;
		border-radius: 5px;
		background-color: $color-background;
		align-items: flex-start;
		text-align: start;
		padding-left: 5px;
	}
	.log {
		color: rgb(100, 100, 100);
		&.pay {
			color: rgb(0, 100, 10);
		}
		&.turn {
			color: rgb(30, 30, 30);
		}
	}
}

.move-enter {
	opacity: 0;
	transform: translate(0, 0);
}

.move-enter-active {
	opacity: 1;
	transform: translate(0, $log-line-height);
	transition: 5000ms ease;
}

.move-exit {
	opacity: 1;
	transform: translate(0, -$log-line-height);
}

.move-exit-active {
	opacity: 0.01;
	transform: translate(0, -$log-line-height);
}
