@import '../../App.scss';

.top-left-controls-large {
	position: absolute;
	top: $main-padding;
	left: $main-padding;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	z-index: 10;
	.buttons {
		display: flex;
		flex-direction: row;
	}
	.icon-button {
		width: $icon-button-size-large;
		height: $icon-button-size-large;
	}
	.text-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-left: $log-margin-left-large;
		.text {
			text-align: start;
			font-size: $text-font-size-large;
		}
	}
}

.bottom-left-controls-large {
	position: absolute;
	left: $main-padding;
	bottom: $main-padding;
	height: 2 * $button-height-large;
	width: 2 * $button-width-large;
	display: flex;
	flex-flow: row wrap-reverse;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 10;
	margin-bottom: 2 * $main-padding;
	.button {
		max-width: $button-width-large;
		max-height: $button-height-large;
		min-width: $button-width-large;
		min-height: $button-height-large;
	}
}

.bottom-right-controls-large {
	position: absolute;
	right: $main-padding;
	bottom: $main-padding;
	height: 2 * $button-height-large;
	width: 2 * $button-width-large;
	display: flex;
	flex-flow: row-reverse wrap-reverse;
	align-items: flex-start;
	z-index: 10;
	margin-bottom: 2 * $main-padding;
	.button {
		max-width: $button-width-large;
		max-height: $button-height-large;
		min-width: $button-width-large;
		min-height: $button-height-large;
	}
}

.top-right-controls-large {
	position: absolute;
	right: $main-padding;
	top: $main-padding;
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
	justify-content: flex-start;
	z-index: 10;
	.icon-button {
		width: $icon-button-size-large;
		height: $icon-button-size-large;
	}
}

.log-box-large {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: end;
	overflow: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
	height: $icon-button-size-large;
	max-width: $log-line-width-large;
	font-size: $text-font-size-large;
	$line-height: $text-line-height-large;
	transition: 200ms;
	&.expanded {
		height: 4 * $icon-button-size-large;
		min-width: $log-line-width-large;
		align-items: flex-start;
		text-align: start;
		padding-left: 2 * $main-padding;
		@include default-border;
	}
}
