@import '../../App.scss';

.top-right-controls-small {
	position: absolute;
	top: $main-padding;
	right: $main-padding;
	margin-top: calc(env(safe-area-inset-top));
	margin-right: calc(env(safe-area-inset-right));
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	z-index: 10;
	.buttons {
		display: flex;
		flex-direction: row-reverse;
	}
	.icon-button {
		width: $icon-button-size-small;
		height: $icon-button-size-small;
		transform: rotate(90deg);
	}
	.text-container {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		text-align: start;
		transform-origin: top left;
		transform: rotate(90deg) translateY((2 * $main-padding) - (2 * $text-line-width-small));
		height: $text-line-height-small * 4;
		width: 2 * $text-line-width-small;
		font-size: $text-font-size-small;
		color: $log-grey;
		line-height: $text-line-height-small;
	}
}

.top-left-controls-small {
	position: absolute;
	top: $main-padding;
	left: $main-padding;
	margin-top: calc(env(safe-area-inset-top));
	margin-left: calc(env(safe-area-inset-left));
	height: 2 * $button-height-small;
	width: 2 * $button-width-small;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 10;
	.button {
		max-width: $button-width-small;
		max-height: $button-height-small;
		min-width: $button-width-small;
		min-height: $button-height-small;
		p {
			transform: rotate(90deg);
		}
	}
}

.bottom-left-controls-small {
	position: absolute;
	left: $main-padding;
	bottom: $main-padding;
	margin-left: calc(env(safe-area-inset-left));
	margin-bottom: calc(env(safe-area-inset-bottom));
	height: 2 * $button-height-small;
	width: 2 * $button-width-small;
	display: flex;
	flex-flow: column-reverse wrap;
	align-items: flex-start;
	z-index: 10;
	.button {
		max-width: $button-width-small;
		max-height: $button-height-small;
		min-width: $button-width-small;
		min-height: $button-height-small;
		p {
			transform: rotate(90deg);
		}
	}
}

.bottom-right-controls-small {
	position: absolute;
	right: $main-padding;
	bottom: $main-padding;
	margin-right: calc(env(safe-area-inset-right));
	margin-bottom: calc(env(safe-area-inset-bottom));
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
	justify-content: flex-start;
	z-index: 10;
	.buttons {
		display: flex;
		flex-direction: row-reverse;
	}
	.icon-button {
		width: $icon-button-size-small;
		height: $icon-button-size-small;
		transform: rotate(90deg);
	}
}

.log-box-container-small {
	transform-origin: bottom right;
	transform: rotate(90deg) translateY($icon-button-size-small);
	&.expanded {
		transform: rotate(90deg) translateY((4 * $icon-button-size-small) + ($tile-border-px));
	}
}

.log-box-small {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: end;
	overflow-y: scroll;
	scroll-behavior: smooth;
	transition: 200ms;
	height: $icon-button-size-small;
	max-width: $log-line-width-small;
	font-size: $log-font-size-small;
	$line-height: $log-line-height-small;
	&.expanded {
		height: 4 * $icon-button-size-small;
		min-width: $log-line-width-small;
		background-color: $color-background;
		align-items: flex-start;
		text-align: start;
		padding-left: 5px;
		@include default-border;
	}
	.log {
		color: $log-grey;
		&.pay {
			color: $log-green;
		}
		&.turn {
			color: black;
		}
	}
}
