@import '../../App.scss';

.top-right-controls-large {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: calc(env(safe-area-inset-top));
	margin-right: calc(env(safe-area-inset-right));
	display: flex;
	flex-flow: row-reverse;
	align-items: flex-start;
	justify-content: flex-end;
	z-index: 10;
	.buttons {
		display: flex;
		flex-direction: column;
	}
	.icon-button {
		width: $icon-button-size-large;
		height: $icon-button-size-large;
		transform: rotate(90deg);
	}
	.text-container {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		text-align: start;
		transform-origin: top left;
		transform: translateX(2 * $text-line-width-large) rotate(90deg);
		height: $text-line-height-large * 4;
		width: 2 * $text-line-width-large;
		margin: 5px -2px !important;
		font-size: $text-font-size-large;
		color: $log-grey;
		line-height: $text-line-height-large;
	}
}

.top-left-controls-large {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: calc(env(safe-area-inset-top));
	margin-left: calc(env(safe-area-inset-left));
	height: 2 * $button-height-large;
	width: 2 * $button-width-large;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 10;
	.button {
		max-width: $button-width-large;
		max-height: $button-height-large;
		min-width: $button-width-large;
		min-height: $button-height-large;
		p {
			transform: rotate(90deg);
		}
	}
}

.bottom-left-controls-large {
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: calc(env(safe-area-inset-left));
	margin-bottom: calc(env(safe-area-inset-bottom));
	height: 2 * $button-height-large;
	width: 2 * $button-width-large;
	display: flex;
	flex-flow: column-reverse wrap;
	align-items: flex-start;
	z-index: 10;
	.button {
		max-width: $button-width-large;
		max-height: $button-height-large;
		min-width: $button-width-large;
		min-height: $button-height-large;
		p {
			transform: rotate(90deg);
		}
	}
}

.bottom-right-controls-large {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: calc(env(safe-area-inset-right));
	margin-bottom: calc(env(safe-area-inset-bottom));
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
	justify-content: flex-start;
	z-index: 10;
	.buttons {
		display: flex;
		flex-direction: column;
	}
	.icon-button {
		width: $icon-button-size-large;
		height: $icon-button-size-large;
		transform: rotate(90deg);
	}
}

.log-box-container-large {
	transform-origin: bottom right;
	transform: rotate(90deg) translateY($icon-button-size-large);
	&.expanded {
		transform: rotate(90deg) translateY((4 * $icon-button-size-large) + (2 * $tile-border-px));
	}
}

.log-box-large {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: end;
	overflow-y: scroll;
	scroll-behavior: smooth;
	transition: 200ms;
	height: $icon-button-size-large;
	max-width: $log-line-width-large;
	font-size: $log-font-size-large;
	$line-height: $log-line-height-large;
	&.expanded {
		height: 4 * $icon-button-size-large;
		background-color: $color-background;
		align-items: flex-start;
		text-align: start;
		padding-left: 5px;
		@include default-border;
	}
	.log {
		color: $log-grey;
		&.pay {
			color: $log-green;
		}
		&.turn {
			color: black;
		}
	}
}
