@import '../../../App.scss';

.scrollable {
	max-height: calc(100vh - 84px); // ref-home-title 40px ref-bottom-home-buttons 24px ref-decoration 20px
	max-height: calc(100vh - 84px - const(safe-area-inset-top) - const(safe-area-inset-bottom));
	max-height: calc(100vh - 84px - env(safe-area-inset-top) - env(safe-area-inset-bottom));
}

.content {
	@include flow(column wrap);
	-webkit-text-size-adjust: 100%;
	&.centered {
		text-align: center;
	}

	h4 {
		font-weight: bold;
		font-size: 18px;
		margin: 2px 10px;
	}

	.para {
		font-size: 15px;
		display: block;
		margin: 10px 0px !important;
	}

	.ps {
		font-style: italic;
		font-size: 15px;
		padding-bottom: 15px;
	}

	ul {
		margin: 5px 0px;
		padding-inline-start: 12px;
		li {
			font-size: 15px;
			margin: 10px;
		}
	}

	.stack {
		@include flex-dir(row);
		align-self: center;
		align-items: center;
		.logos {
			padding-left: 4px;
			img {
				margin-top: 4px;
				align-self: center;
				max-height: 22px;
				max-width: 22px;
				padding: 0 2px;
			}
		}
	}
}
