@import '../../App.scss';

.join-game-panel {
	align-content: flex-start;
	max-height: 80vh;
	.list {
		display: flex;
		flex-direction: column;
		max-height: 70vh;
		margin: 10px 0;
		width: 250px;
		overflow: scroll;
		// @include default-border;
	}
}
