@import '../../App.scss';

.join-game-panel {
	// position: absolute;
	// padding-top: env(safe-area-inset-right);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: center;
	text-align: center;
	max-height: 80vh;
	.list {
		display: flex;
		flex-direction: column;
		max-height: 65vh;
		margin: 10px 0;
		width: 250px;
		overflow: scroll;
		border: 1px solid grey;
		border-radius: 5px;
	}

	.button-container {
		position: absolute;
		bottom: 0;
	}
}
