@import '../../../../App.scss';

.container {
	@include flex-dir(row);
	@include alignI-justifyC(center, center);
	.left {
		width: 0;
		z-index: -1;
		visibility: hidden;
		transition: $transition-medium;
		&.show {
			visibility: visible;
			transform: rotate(-18deg) translateX(-24px);
		}
	}
	.right {
		justify-self: flex-end;
		width: 0;
		z-index: -1;
		visibility: hidden;
		transition: $transition-medium;
		transform: translateX(-$shown-tile-width-small);
		&.show {
			visibility: visible;
			transform: rotate(18deg) translateX(calc(24px - $shown-tile-width-small));
		}
	}
}
