@import '../../App.scss';

.row-section-medium {
	display: flex;
	flex-direction: column;
	padding: 0 5px;
	justify-content: center;
	align-content: center;
	transition: 200ms;
	&.bottom {
		flex-direction: column-reverse;
	}
	.htsh {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: $tile-padding-medium 0;
		min-height: $hidden-tile-height-medium;
		&.unused {
			flex-flow: column wrap;
			align-self: center;
			align-content: center;
			justify-content: flex-end;
			max-height: (2 * $hidden-tile-height-medium) + (4 * $tile-border-px);
			width: (19 * $hidden-tile-width-medium) + (4 * $tile-border-px);
			z-index: -1;
			&.front {
				flex-flow: column wrap-reverse;
				&.bottom {
					flex-flow: column-reverse wrap;
				}
			}
			&.back {
				flex-flow: column wrap;
				&.bottom {
					flex-flow: column-reverse wrap-reverse;
				}
			}
		}
	}

	.hth {
		height: $hidden-tile-height-medium;
		width: $hidden-tile-width-medium;
		background-color: $color-tile-back;
		@include default-tile-border;
	}

	.htss {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: flex-start;
		align-self: center;
		width: 9 * ($shown-tile-width-medium);
		&.row-r {
			flex-flow: row-reverse wrap;
		}
		&.bottom {
			transform: $rotate-simple-180;
		}
	}

	.hts {
		height: $shown-tile-height-medium;
		border-radius: 4%;
		background: $color-tile-front;
		&.flower {
			@include default-flower;
		}
		&.animal {
			height: $shown-tile-height-medium - (2 * $tile-border-px);
			width: $shown-tile-width-medium - (2 * $tile-border-px);
			@include default-tile-border;
		}
		&.last {
			@include last-thrown;
		}
		&.margin-right {
			margin-right: $hidden-tile-width-medium;
		}
		&.margin-left {
			margin-left: $hidden-tile-width-medium;
		}
	}
}

.column-section-medium {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: 200ms;
	&.right {
		flex-direction: row-reverse;
	}

	.vtsh {
		display: flex;
		flex-direction: column;
		padding: 0 $tile-padding-medium;
		min-width: $hidden-tile-height-medium;
		&.unused {
			flex-flow: row-reverse wrap-reverse;
			max-width: (2 * $hidden-tile-height-medium) + (4 * $tile-border-px);
			align-content: flex-start;
			align-self: center;
			z-index: -1;
			&.front {
				flex-flow: row wrap;
				&.right {
					flex-flow: row-reverse wrap-reverse;
				}
			}
			&.back {
				flex-flow: row wrap-reverse;
				&.right {
					flex-flow: row-reverse wrap;
				}
			}
		}
	}

	.vth {
		width: $hidden-tile-height-medium;
		height: $hidden-tile-width-medium;
		background-color: $color-tile-back;
		@include default-tile-border;
	}

	.vtss {
		display: flex;
		flex-flow: column wrap;
		align-items: flex-start;
		justify-content: center;
		height: 15 * $shown-tile-height-medium;
		padding: 0 $tile-padding-medium;
		&.col-r {
			flex-flow: column-reverse wrap;
		}
		&.right {
			align-items: flex-end;
		}
		&.discarded {
			max-height: 50vh;
			&.right {
				flex-flow: column-reverse wrap-reverse;
			}
		}
	}

	.vts {
		height: $shown-tile-width-medium;
		width: $shown-tile-height-medium;
		&.margin-top {
			margin-top: $hidden-tile-width-medium;
		}
		&.margin-bottom {
			margin-bottom: $hidden-tile-width-medium;
		}
	}

	.vts-bg {
		height: $shown-tile-height-medium;
		border-radius: 4%;
		transform: $transform-rotate;
		background-color: $color-tile-front;
		align-self: flex-start;
		&.flower {
			@include default-flower;
		}
		&.animal {
			height: $shown-tile-height-medium - (2 * $tile-border-px);
			width: $shown-tile-width-medium - (2 * $tile-border-px);
			@include default-tile-border;
		}
		&.last {
			@include last-thrown;
		}
	}
}

.self-hidden-tiles-medium {
	display: flex;
	flex-direction: column;
	z-index: 20;

	.self-hidden-tile {
		height: $self-hidden-tile-width-medium;
		width: $self-hidden-tile-height-medium;
		border-radius: 4%;
		transition: 200ms;
		&.unselected {
			background: $color-tile-front;
		}
		&.selected {
			transform: translateX(15%);
			@include default-selected;
		}
		&.last {
			margin-top: $hidden-tile-height-medium;
		}
	}

	.self-hidden-tile-bg {
		height: $self-hidden-tile-height-medium;
		transform: $transform-rotate;
	}
}
