@import '../../App.scss';

$rotate-simple-90: rotate(90deg);
$transform-rotate: rotate(90deg) translateX(-22%);
$rotate-simple-180: rotate(180deg);

.row-section {
	display: flex;
	flex-direction: column;
	padding: 0 5px;
	justify-content: center;

	&.bottom {
		flex-direction: column-reverse;
	}
	.horizontal-tiles-hidden {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: $tile-padding 0;
		// max-height: $hidden-tile-height;
		&.unused {
			flex-flow: column wrap;
			align-self: center;
			align-content: center;
			justify-content: flex-end;
			max-height: (2 * $hidden-tile-height) + (4 * $tile-border-px);
			width: (19 * $hidden-tile-width) + (4 * $tile-border-px);
			z-index: -1;
			&.front {
				flex-flow: column wrap-reverse;
				&.bottom {
					flex-flow: column-reverse wrap;
				}
			}
			&.back {
				flex-flow: column wrap;
				&.bottom {
					flex-flow: column-reverse wrap-reverse;
				}
			}
		}
	}
	.horizontal-tile-hidden {
		height: $hidden-tile-height;
		width: $hidden-tile-width;
		background-color: $color-tile-back;
		@include default-tile-border;
	}

	.horizontal-tiles-shown {
		display: flex;
		flex-flow: row-reverse wrap;
		justify-content: center; // Remove to align top and bottom shown tiles to the right
		align-items: flex-end;
		align-self: center;
		width: 60vw;

		&.bottom {
			flex-flow: row-reverse wrap-reverse;
			transform: $rotate-simple-180;
		}

		.horizontal-tile-shown {
			height: $shown-tile-height;
			width: $shown-tile-width;
			border-radius: 4%;
			background: $color-tile-front;

			&.animate-flower {
				transition: 200ms;
				@include default-flower;
			}

			&.animal {
				height: $shown-tile-height - (2 * $tile-border-px);
				width: $shown-tile-width - (2 * $tile-border-px);
				@include default-tile-border;
			}
		}
	}

	.discarded {
		display: flex;
		flex-flow: row-reverse wrap;
		justify-content: flex-start;
		align-self: center;
		width: 9 * $shown-tile-width;
		padding: $tile-padding 0;

		&.bottom {
			transform: $rotate-simple-180;
		}

		.discarded-tile {
			height: $shown-tile-height;
			width: $shown-tile-width;
			border-radius: 4%;
			background: $color-tile-front;
		}
	}
}

.column-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	&.right {
		flex-direction: row-reverse;
	}

	.vertical-tiles-hidden {
		display: flex;
		flex-direction: column;
		padding: 0 $tile-padding;
		&.unused {
			flex-flow: row-reverse wrap-reverse;
			max-width: (2 * $hidden-tile-height) + (4 * $tile-border-px);
			align-content: flex-start;
			align-self: center;
			z-index: -1;
			&.front {
				flex-flow: row wrap;
				&.right {
					flex-flow: row-reverse wrap-reverse;
				}
			}
			&.back {
				flex-flow: row wrap-reverse;
				&.right {
					flex-flow: row-reverse wrap;
				}
			}
		}
	}
	.vertical-tile-hidden {
		width: $hidden-tile-height;
		height: $hidden-tile-width;
		background-color: $color-tile-back;
		@include default-tile-border;
	}

	.vertical-tiles-shown {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		max-height: 22 * ($shown-tile-width + (2 * $tile-border-px));
		max-width: $shown-tile-height;
		padding: 0 $tile-padding;

		.vertical-tile-shown {
			height: $shown-tile-width;
			width: $shown-tile-height;
		}
	}

	.vertical-tile-shown-bg {
		height: $shown-tile-height;
		width: $shown-tile-width;
		border-radius: 4%;
		transform: $transform-rotate;
		background-color: $color-tile-front;
		align-self: flex-start;

		&.animate-flower {
			transition: 200ms;
			@include default-flower;
		}

		&.animal {
			height: $shown-tile-height - (2 * $tile-border-px);
			width: $shown-tile-width - (2 * $tile-border-px);
			@include default-tile-border;
			&.self {
				height: $shown-tile-height - (2 * $tile-border-px);
				width: $shown-tile-width - (2 * $tile-border-px);
			}
		}
	}

	.discarded {
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		height: 12 * $shown-tile-width;
		padding: 0 $tile-padding;

		&.right {
			justify-content: flex-start;
			flex-flow: column-reverse wrap-reverse;
		}

		.discarded-tile {
			height: $shown-tile-width;
			width: $shown-tile-height;
			border-radius: 4%;
			background: $color-tile-front;
		}
	}

	.self-hidden-tiles {
		display: flex;
		flex-direction: column;
		z-index: 20;

		.self-hidden-tile {
			height: $self-hidden-tile-width;
			width: $self-hidden-tile-height;

			&.unselected {
				transition: 200ms;
				background: $color-tile-front;
				border-radius: 4%;
			}

			&.selected {
				transform: translateX(15%);
				transition: 200ms;
				border-radius: 4%;
				@include default-selected;
			}
		}

		.self-hidden-tile-bg {
			height: $self-hidden-tile-height;
			width: $self-hidden-tile-width;
			transform: $transform-rotate;
		}
	}
}
