@import '../../App.scss';

.row-section-medium {
	display: flex;
	flex-direction: column;
	padding: 0 5px;
	justify-content: center;
	align-content: center;
	transition: 200ms;
	&.bottom {
		flex-direction: column-reverse;
	}
	.horizontal-tiles-hidden {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: $tile-padding-medium 0;
		min-height: $hidden-tile-height-medium;
		&.unused {
			flex-flow: column wrap;
			align-self: center;
			align-content: center;
			justify-content: flex-end;
			max-height: (2 * $hidden-tile-height-medium) + (4 * $tile-border-px);
			width: (19 * $hidden-tile-width-medium) + (4 * $tile-border-px);
			z-index: -1;
			&.front {
				flex-flow: column wrap-reverse;
				&.bottom {
					flex-flow: column-reverse wrap;
				}
			}
			&.back {
				flex-flow: column wrap;
				&.bottom {
					flex-flow: column-reverse wrap-reverse;
				}
			}
		}
	}

	.horizontal-tile-hidden {
		height: $hidden-tile-height-medium;
		width: $hidden-tile-width-medium;
		background-color: $color-tile-back;
		@include default-tile-border;
	}

	.horizontal-tiles-shown {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: flex-start;
		align-self: center;
		width: 9 * ($shown-tile-width-medium);
		&.bottom {
			transform: $rotate-simple-180;
		}
		&.hu {
			flex-flow: row-reverse wrap;
			// Not working for left/right since each tile svg is recognized asa 'last-child'
			:last-child {
				@include last-thrown;
			}
		}

		.horizontal-tile-shown {
			height: $shown-tile-height-medium;
			border-radius: 4%;
			background: $color-tile-front;
			&.animate-flower {
				@include default-flower;
			}
			&.animal {
				height: $shown-tile-height-medium - (2 * $tile-border-px);
				width: $shown-tile-width-medium - (2 * $tile-border-px);
				@include default-tile-border;
			}
		}
	}

	.discarded {
		display: flex;
		flex-flow: row-reverse wrap;
		justify-content: flex-start;
		align-self: center;
		max-width: 10 * $shown-tile-width-medium;
		padding: $tile-padding-medium 0;
		&.bottom {
			transform: $rotate-simple-180;
		}

		.discarded-tile {
			height: $shown-tile-height-medium;
			border-radius: 4%;
			background: $color-tile-front;
			&.last-thrown {
				@include last-thrown;
				&.magnify {
					height: 1.2 * $shown-tile-height-medium;
				}
			}
		}
	}
}

.column-section-medium {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: 200ms;
	&.right {
		flex-direction: row-reverse;
	}

	.vertical-tiles-hidden {
		display: flex;
		flex-direction: column;
		padding: 0 $tile-padding-medium;
		min-width: $hidden-tile-height-medium;
		&.unused {
			flex-flow: row-reverse wrap-reverse;
			max-width: (2 * $hidden-tile-height-medium) + (4 * $tile-border-px);
			align-content: flex-start;
			align-self: center;
			z-index: -1;
			&.front {
				flex-flow: row wrap;
				&.right {
					flex-flow: row-reverse wrap-reverse;
				}
			}
			&.back {
				flex-flow: row wrap-reverse;
				&.right {
					flex-flow: row-reverse wrap;
				}
			}
		}
	}

	.vertical-tile-hidden {
		width: $hidden-tile-height-medium;
		height: $hidden-tile-width-medium;
		background-color: $color-tile-back;
		@include default-tile-border;
	}

	.vertical-tiles-shown {
		display: flex;
		flex-flow: column-reverse wrap;
		align-items: flex-start;
		justify-content: center;
		height: 15 * $shown-tile-height-medium;
		padding: 0 $tile-padding-medium;
		&.flow-column-wrap {
			flex-flow: column wrap;
			align-items: flex-end;
		}
		&.hu {
			:last-child {
				@include last-thrown;
			}
		}

		.vertical-tile-shown {
			height: $shown-tile-width-medium;
			width: $shown-tile-height-medium;
		}
	}

	.vertical-tile-shown-bg {
		height: $shown-tile-height-medium;
		border-radius: 4%;
		transform: $transform-rotate;
		background-color: $color-tile-front;
		align-self: flex-start;
		&.animate-flower {
			@include default-flower;
		}
		&.animal {
			height: $shown-tile-height-medium - (2 * $tile-border-px);
			width: $shown-tile-width-medium - (2 * $tile-border-px);
			@include default-tile-border;
		}
		&.last-thrown {
			@include last-thrown;
			&.magnify {
				height: 1.2 * $shown-tile-height-medium;
			}
		}
	}

	.discarded {
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		align-self: center;
		max-height: 50vh;
		padding: 0 $tile-padding-medium;
		&.flow-column-r-wrap-r {
			flex-flow: column-reverse wrap-reverse;
		}

		.discarded-tile {
			height: $shown-tile-width-medium;
			width: $shown-tile-height-medium;
			border-radius: 4%;
			background: $color-tile-front;
		}
	}
}

.self-hidden-tiles-medium {
	display: flex;
	flex-direction: column;
	z-index: 20;

	.self-hidden-tile {
		height: $self-hidden-tile-width-medium;
		width: $self-hidden-tile-height-medium;
		border-radius: 4%;
		transition: 200ms;
		&.unselected {
			background: $color-tile-front;
		}
		&.selected {
			transform: translateX(15%);
			@include default-selected;
		}
	}

	.self-hidden-tile-bg {
		height: $self-hidden-tile-height-medium;
		transform: $transform-rotate;
	}
}
