@import '../../App.scss';

.row-section-large {
	display: flex;
	flex-direction: column;
	padding: 0 5px;
	justify-content: center;
	align-content: center;
	transition: 200ms;
	&.flex-dir-column-r {
		flex-direction: column-reverse;
	}
	.htsh {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: $tile-padding-large 0;
		min-height: $hidden-tile-height-large;
		&.unused {
			flex-flow: column wrap;
			align-self: center;
			align-content: center;
			justify-content: flex-end;
			max-height: (2 * $hidden-tile-height-large) + (4 * $tile-border-px);
			width: (19 * $hidden-tile-width-large) + (4 * $tile-border-px);
			z-index: -1;
			&.front {
				flex-flow: column wrap-reverse;
				&.flex-flow-column-r {
					flex-flow: column-reverse wrap;
				}
			}
			&.back {
				flex-flow: column wrap;
				&.bottom {
					flex-flow: column-reverse wrap-reverse;
				}
			}
		}
	}

	.hth {
		height: $hidden-tile-height-large;
		width: $hidden-tile-width-large;
		background-color: $color-tile-back;
		@include default-tile-border;
	}

	.htss {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: flex-start;
		align-self: center;
		width: 9 * ($shown-tile-width-large);
		&.bottom {
			transform: $rotate-simple-180;
		}

		.hts {
			height: $shown-tile-height-large;
			border-radius: 4%;
			background: $color-tile-front;
			&.flower {
				@include default-flower;
			}
			&.animal {
				height: $shown-tile-height-large - (2 * $tile-border-px);
				width: $shown-tile-width-large - (2 * $tile-border-px);
				@include default-tile-border;
			}
			&.last {
				margin-right: $hidden-tile-width-large;
				@include last-thrown;
				&.margin-left {
					margin-left: $hidden-tile-width-large;
				}
			}
		}
	}

	.dts {
		display: flex;
		flex-flow: row-reverse wrap;
		justify-content: flex-start;
		align-self: center;
		max-width: 10 * $shown-tile-width-large;
		padding: $tile-padding-large 0;
		&.bottom {
			transform: $rotate-simple-180;
		}

		.dt {
			height: $shown-tile-height-large;
			border-radius: 4%;
			background: $color-tile-front;
			&.last {
				@include last-thrown;
			}
		}
	}
}

.column-section-large {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: 200ms;
	&.right {
		flex-direction: row-reverse;
	}

	.vtsh {
		display: flex;
		flex-direction: column;
		padding: 0 $tile-padding-large;
		min-width: $hidden-tile-height-large;
		&.unused {
			flex-flow: row-reverse wrap-reverse;
			max-width: (2 * $hidden-tile-height-large) + (4 * $tile-border-px);
			align-content: flex-start;
			align-self: center;
			z-index: -1;
			&.front {
				flex-flow: row wrap;
				&.right {
					flex-flow: row-reverse wrap-reverse;
				}
			}
			&.back {
				flex-flow: row wrap-reverse;
				&.right {
					flex-flow: row-reverse wrap;
				}
			}
		}
	}

	.vth {
		width: $hidden-tile-height-large;
		height: $hidden-tile-width-large;
		background-color: $color-tile-back;
		@include default-tile-border;
	}

	.vtss {
		display: flex;
		flex-flow: column-reverse wrap;
		align-items: flex-start;
		justify-content: center;
		height: 15 * $shown-tile-height-large;
		padding: 0 $tile-padding-large;
		&.right {
			flex-flow: column wrap;
			align-items: flex-end;
		}

		.vts {
			height: $shown-tile-width-large;
			width: $shown-tile-height-large;
			&.last {
				margin-top: $hidden-tile-width-large;
				&.right {
					margin-bottom: $hidden-tile-width-large;
				}
			}
		}
	}

	.vts-bg {
		height: $shown-tile-height-large;
		border-radius: 4%;
		transform: $transform-rotate;
		background-color: $color-tile-front;
		align-self: flex-start;
		&.flower {
			@include default-flower;
		}
		&.animal {
			height: $shown-tile-height-large - (2 * $tile-border-px);
			width: $shown-tile-width-large - (2 * $tile-border-px);
			@include default-tile-border;
		}
		&.last {
			@include last-thrown;
		}
	}

	.dts {
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		align-self: center;
		max-height: 50vh;
		padding: 0 $tile-padding-large;
		&.right {
			flex-flow: column-reverse wrap-reverse;
		}

		.dt {
			height: $shown-tile-width-large;
			width: $shown-tile-height-large;
			border-radius: 4%;
			background: $color-tile-front;
		}
	}
}

.self-hidden-tiles-large {
	display: flex;
	flex-direction: column;
	z-index: 20;

	.self-hidden-tile {
		height: $self-hidden-tile-width-large;
		width: $self-hidden-tile-height-large;
		border-radius: 4%;
		transition: 200ms;
		&.unselected {
			background: $color-tile-front;
		}
		&.selected {
			transform: translateX(15%);
			@include default-selected;
		}
		&.last {
			margin-top: $hidden-tile-height-large;
		}
	}

	.self-hidden-tile-bg {
		height: $self-hidden-tile-height-large;
		transform: $transform-rotate;
	}
}
