@import '../../App.scss';

.row-section-large {
	display: flex;
	flex-direction: column;
	padding: 0 5px;
	justify-content: center;

	&.bottom {
		flex-direction: column-reverse;
	}
	.horizontal-tiles-hidden {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: $tile-padding-large 0;
		&.unused {
			flex-flow: column wrap;
			align-self: center;
			align-content: center;
			justify-content: flex-end;
			max-height: (2 * $hidden-tile-height-large) + (4 * $tile-border-px);
			width: (19 * $hidden-tile-width-large) + (4 * $tile-border-px);
			z-index: -1;
			&.front {
				flex-flow: column wrap-reverse;
				&.bottom {
					flex-flow: column-reverse wrap;
				}
			}
			&.back {
				flex-flow: column wrap;
				&.bottom {
					flex-flow: column-reverse wrap-reverse;
				}
			}
		}
	}
	.horizontal-tile-hidden {
		height: $hidden-tile-height-large;
		width: $hidden-tile-width-large;
		background-color: $color-tile-back;
		@include default-tile-border;
	}

	.horizontal-tiles-shown {
		display: flex;
		flex-flow: row-reverse wrap;
		justify-content: center;
		align-items: flex-end;
		align-self: center;
		width: 60vw;

		&.bottom {
			flex-flow: row-reverse wrap-reverse;
			transform: $rotate-simple-180;
		}

		.horizontal-tile-shown {
			height: $shown-tile-height-large;
			width: $shown-tile-width-large;
			border-radius: 4%;
			background: $color-tile-front;

			&.animate-flower {
				transition: 200ms;
				@include default-flower;
			}

			&.animal {
				height: $shown-tile-height-large - (2 * $tile-border-px);
				width: $shown-tile-width-large - (2 * $tile-border-px);
				@include default-tile-border;
			}
		}
	}

	.discarded {
		display: flex;
		flex-flow: row-reverse wrap;
		justify-content: flex-start;
		align-self: center;
		width: 9 * $shown-tile-width-large;
		padding: $tile-padding-large 0;

		&.bottom {
			transform: $rotate-simple-180;
		}

		.discarded-tile {
			height: $shown-tile-height-large;
			width: $shown-tile-width-large;
			border-radius: 4%;
			background: $color-tile-front;
		}
	}
}

.column-section-large {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	&.right {
		flex-direction: row-reverse;
	}

	.vertical-tiles-hidden {
		display: flex;
		flex-direction: column;
		padding: 0 $tile-padding-large;
		&.unused {
			flex-flow: row-reverse wrap-reverse;
			max-width: (2 * $hidden-tile-height-large) + (4 * $tile-border-px);
			align-content: flex-start;
			align-self: center;
			z-index: -1;
			&.front {
				flex-flow: row wrap;
				&.right {
					flex-flow: row-reverse wrap-reverse;
				}
			}
			&.back {
				flex-flow: row wrap-reverse;
				&.right {
					flex-flow: row-reverse wrap;
				}
			}
		}
	}
	.vertical-tile-hidden {
		width: $hidden-tile-height-large;
		height: $hidden-tile-width-large;
		background-color: $color-tile-back;
		@include default-tile-border;
	}

	.vertical-tiles-shown {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		max-height: 22 * ($shown-tile-width-large + (2 * $tile-border-px));
		max-width: $shown-tile-height-large;
		padding: 0 $tile-padding-large;

		.vertical-tile-shown {
			height: $shown-tile-width-large;
			width: $shown-tile-height-large;
		}
	}

	.vertical-tile-shown-bg {
		height: $shown-tile-height-large;
		width: $shown-tile-width-large;
		border-radius: 4%;
		transform: $transform-rotate;
		background-color: $color-tile-front;
		align-self: flex-start;

		&.animate-flower {
			transition: 200ms;
			@include default-flower;
		}

		&.animal {
			height: $shown-tile-height-large - (2 * $tile-border-px);
			width: $shown-tile-width-large - (2 * $tile-border-px);
			@include default-tile-border;
			&.self {
				height: $shown-tile-height-large - (2 * $tile-border-px);
				width: $shown-tile-width-large - (2 * $tile-border-px);
			}
		}
	}

	.discarded {
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		height: 12 * $shown-tile-width-large;
		padding: 0 $tile-padding-large;

		&.right {
			justify-content: flex-start;
			flex-flow: column-reverse wrap-reverse;
		}

		.discarded-tile {
			height: $shown-tile-width-large;
			width: $shown-tile-height-large;
			border-radius: 4%;
			background: $color-tile-front;
		}
	}
}

.self-hidden-tiles-large {
	display: flex;
	flex-direction: column;
	z-index: 20;

	.self-hidden-tile {
		height: $self-hidden-tile-width-large;
		width: $self-hidden-tile-height-large;

		&.unselected {
			transition: 200ms;
			background: $color-tile-front;
			border-radius: 4%;
		}

		&.selected {
			transform: translateX(15%);
			transition: 200ms;
			border-radius: 4%;
			@include default-selected;
		}
	}

	.self-hidden-tile-bg {
		height: $self-hidden-tile-height-large;
		width: $self-hidden-tile-width-large;
		transform: $transform-rotate;
	}
}
