@import '../../App.scss';

@mixin flower-mod {
	&.flower {
		@include default-flower;
	}
	&.animal {
		height: $shown-tile-height-medium - (2 * $tile-border-px);
		width: $shown-tile-width-medium - (2 * $tile-border-px);
		@include default-tile-border;
	}
}

//TODO: calculate this dynamically
// $shown-melds-per-row: 4;
// $shown-melds-per-column: 4;
// $shown-tiles-per-row: $shown-melds-per-row * 3;
// $shown-tiles-per-column: $shown-melds-per-column * 3;
$tiles-per-row: $shown-tiles-per-row;
$tiles-per-column: $shown-tiles-per-row;

.row-section-medium {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px;
	&.bottom {
		flex-direction: column-reverse;
	}
	.htsh {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: $tile-padding-medium 0;
		min-height: $hidden-tile-height-medium;
		&.unused {
			flex-flow: column wrap;
			align-self: center;
			align-content: center;
			justify-content: flex-end;
			max-height: (2 * $hidden-tile-height-medium) + (4 * $tile-border-px);
			z-index: -1;
			&.front {
				flex-flow: column wrap-reverse;
				&.bottom {
					flex-flow: column-reverse wrap;
				}
			}
			&.back {
				flex-flow: column wrap;
				&.bottom {
					flex-flow: column-reverse wrap-reverse;
				}
			}
		}
	}

	.hth {
		height: $hidden-tile-height-medium;
		width: $hidden-tile-width-medium;
		@include default-tile-border;
	}

	.htss {
		display: flex;
		flex-shrink: 1;
		flex-flow: row wrap-reverse;
		justify-content: center;
		padding: $tile-padding-medium;
		min-height: 2 * $shown-tile-height-medium;
		width: $tiles-per-row * $shown-tile-width-medium;
		max-width: 75vw;
		&.top {
			flex-flow: row-reverse wrap;
		}
		&.shown {
		}
		&.discarded {
			justify-content: flex-start;
		}
	}

	.hts {
		height: $shown-tile-height-medium;
		border-radius: $default-tile-border-radius;
		background: $color-tile-front;
		@include flower-mod;
		&.last {
			@include last-thrown;
		}
		&.margin-right {
			margin-right: $hidden-tile-width-medium;
		}
		&.margin-left {
			margin-left: $hidden-tile-width-medium;
		}
	}
}

.column-section-medium {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 5px;
	&.right {
		flex-direction: row-reverse;
	}

	.vtsh {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 $tile-padding-medium;
		min-width: $hidden-tile-height-medium;
		&.unused {
			flex-flow: row-reverse wrap-reverse;
			align-content: flex-start;
			align-self: center;
			max-width: (2 * $hidden-tile-height-medium) + (4 * $tile-border-px);
			z-index: -1;
			&.front {
				flex-flow: row wrap;
				&.right {
					flex-flow: row-reverse wrap-reverse;
				}
			}
			&.back {
				flex-flow: row wrap-reverse;
				&.right {
					flex-flow: row-reverse wrap;
				}
			}
		}
	}

	.vth {
		width: $hidden-tile-height-medium;
		height: $hidden-tile-width-medium;
		@include default-tile-border;
	}

	.vtss {
		display: flex;
		flex-flow: column-reverse wrap-reverse;
		justify-content: center;
		align-self: center;
		align-content: flex-start;
		padding: $tile-padding-medium;
		width: 2 * $shown-tile-height-medium;
		height: $tiles-per-column * $shown-tile-width-medium;
		max-height: 75vh;
		&.left {
			transform: rotate(180deg);
		}
		&.shown {
		}
		&.discarded {
			justify-content: flex-start;
		}
	}

	.vts {
		height: $shown-tile-width-medium;
		width: $shown-tile-height-medium;
		&.margin-top {
			margin-top: $hidden-tile-width-medium;
		}
		&.margin-bottom {
			margin-bottom: $hidden-tile-width-medium;
		}
	}

	.vts-bg {
		height: $shown-tile-height-medium;
		border-radius: $default-tile-border-radius;
		transform: $transform-rotate;
		background-color: $color-tile-front;
		align-self: flex-start;
		@include flower-mod;
		&.last {
			@include last-thrown;
		}
	}
}

.self-hidden-tiles-medium {
	display: flex;
	flex-direction: row;
	align-self: center;
	padding: $tile-padding-medium;
	z-index: 20;

	.self-hidden-tile {
		height: $self-hidden-tile-height-medium;
		width: $self-hidden-tile-width-medium;
		border-radius: $default-tile-border-radius;
		transition: 200ms;
		&.unselected {
			background: $color-tile-front;
		}
		&.selected {
			transform: translateY(-15%);
			@include default-selected;
		}
		&.last {
			margin-left: $hidden-tile-height-medium;
		}
	}

	.self-hidden-tile-bg {
		height: $self-hidden-tile-height-medium;
	}
}
