@import '../../App.scss';

.row-section-large {
	display: flex;
	flex-direction: column;
	padding: 5px;
	justify-content: center;
	align-content: center;
	transition: 200ms;
	&.bottom {
		flex-direction: column-reverse;
	}
	.htsh {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: $tile-padding-large 0;
		min-height: $hidden-tile-height-large;
		&.unused {
			flex-flow: column wrap;
			align-self: center;
			align-content: center;
			justify-content: flex-end;
			max-height: (2 * $hidden-tile-height-large) + (4 * $tile-border-px);
			width: (19 * $hidden-tile-width-large) + (4 * $tile-border-px);
			z-index: -1;
			&.front {
				flex-flow: column wrap-reverse;
				&.bottom {
					flex-flow: column-reverse wrap;
				}
			}
			&.back {
				flex-flow: column wrap;
				&.bottom {
					flex-flow: column-reverse wrap-reverse;
				}
			}
		}
	}

	.hth {
		height: $hidden-tile-height-large;
		width: $hidden-tile-width-large;
		@include default-tile-border;
	}

	.htss {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: flex-end;
		align-self: center;
		max-width: 60%;
		min-height: $shown-tile-height-large;
		padding: $tile-padding-large;
		&.top {
			align-items: flex-start;
			flex-flow: row-reverse wrap;
		}
	}

	.hts {
		height: $shown-tile-height-large;
		border-radius: $default-tile-border-radius;
		background: $color-tile-front;
		&.flower {
			@include default-flower;
		}
		&.animal {
			height: $shown-tile-height-large - (2 * $tile-border-px);
			width: $shown-tile-width-large - (2 * $tile-border-px);
			@include default-tile-border;
		}
		&.last {
			@include last-thrown;
		}
		&.margin-right {
			margin-right: $hidden-tile-width-large;
		}
		&.margin-left {
			margin-left: $hidden-tile-width-large;
		}
	}
}

.column-section-large {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 5px;
	transition: 200ms;
	&.right {
		flex-direction: row-reverse;
	}

	.vtsh {
		display: flex;
		flex-direction: column;
		padding: $tile-padding-large;
		min-width: $hidden-tile-height-large;
		&.unused {
			flex-flow: row-reverse wrap-reverse;
			max-width: (2 * $hidden-tile-height-large) + (4 * $tile-border-px);
			align-content: flex-start;
			align-self: center;
			z-index: -1;
			&.front {
				flex-flow: row wrap;
				&.right {
					flex-flow: row-reverse wrap-reverse;
				}
			}
			&.back {
				flex-flow: row wrap-reverse;
				&.right {
					flex-flow: row-reverse wrap;
				}
			}
		}
	}

	.vth {
		width: $hidden-tile-height-large;
		height: $hidden-tile-width-large;
		@include default-tile-border;
	}

	.vtss {
		display: flex;
		flex-flow: column-reverse wrap;
		align-items: flex-end;
		justify-content: center;
		min-width: $shown-tile-height-large;
		height: 15 * $shown-tile-height-large;
		max-height: 60%;
		padding: $tile-padding-large;
		&.left {
			transform: rotate(180deg);
		}
	}

	.vts {
		height: $shown-tile-width-large;
		width: $shown-tile-height-large;
		&.margin-top {
			margin-top: $hidden-tile-width-large;
		}
		&.margin-bottom {
			margin-bottom: $hidden-tile-width-large;
		}
	}

	.vts-bg {
		height: $shown-tile-height-large;
		border-radius: $default-tile-border-radius;
		transform: $transform-rotate;
		background-color: $color-tile-front;
		align-self: flex-start;
		&.flower {
			@include default-flower;
		}
		&.animal {
			height: $shown-tile-height-large - (2 * $tile-border-px);
			width: $shown-tile-width-large - (2 * $tile-border-px);
			@include default-tile-border;
		}
		&.last {
			@include last-thrown;
		}
	}
}

.self-hidden-tiles-large {
	display: flex;
	flex-direction: row;
	align-self: center;
	padding: $tile-padding-large;
	z-index: 20;

	.self-hidden-tile {
		height: $self-hidden-tile-height-large;
		width: $self-hidden-tile-width-large;
		border-radius: $default-tile-border-radius;
		transition: 200ms;
		&.unselected {
			background: $color-tile-front;
		}
		&.selected {
			transform: translateY(-15%);
			@include default-selected;
		}
		&.last {
			margin-left: $hidden-tile-height-large;
		}
	}

	.self-hidden-tile-bg {
		height: $self-hidden-tile-height-large;
	}
}
