@import '../../App.scss';

.search-form-container {
	width: $panel-segment-width;
	// @include default-border;
	border: 1px solid black;

	.search-box {
		margin: 3px 0 5px;
	}

	.user {
		margin: 5px 0 0 !important;
	}
}
