@import '../../App.scss';

.search-form-container {
	display: flex;
	width: $panel-segment-width;
	background-color: $color-background;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	border: 1px solid grey;

	.search-box {
		justify-self: center;
		width: $panel-segment-width - 40px;
	}

	&.group {
		border-bottom: none;
		border-radius: 5px 5px 0 0;
	}
	&.user {
		border-top: none;
		border-radius: 0 0 5px 5px;
	}
}
