@import '../../App.scss';

.search-form-container {
	display: flex;
	width: $panel-segment-width;
	background-color: $color-background;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	@include default-border;

	.search-box {
		width: $panel-segment-width - 40px;
		margin: 3px 0 5px;
	}

	.user {
		margin: 5px 0 0 !important;
		width: $panel-segment-width - 40px;
	}
}
