$main-padding: 2px;

/*-------------------- Colors --------------------*/
$light-brown: rgb(215, 205, 190);
$dark-brown: rgb(150, 125, 95);
$gold: #d4af37;
$light-gold: rgb(220, 190, 150);
$dark-purple-blue: rgb(88, 101, 144);
$grey-light: rgb(170, 170, 170);
$grey-standard: grey;
$grey-dark: rgb(100, 100, 100);

/*-------------------- Color vars --------------------*/
$color-background: $light-brown;
$color-grey-text: $grey-standard;
$color-detail: $dark-purple-blue;
$color-tile-back: teal;
$color-tile-front: rgb(220, 220, 220);
$color-tile-border: rgb(40, 40, 40);
$color-wind-font: $grey-light;
$color-border: $grey-standard;

$log-grey: $grey-standard;
$log-green: rgb(0, 100, 10);
$log-dark: rgb(30, 30, 30);

$panel-segment-width: 200px;
$wind-font-size: 60px;

/*-------------------- Tile sizes --------------------*/
$tile-border-px: 1px;

// original tile svg: 140 x 200 -> 14 20, 21 30, 24 34, 28 40, 42 60

// Small
$tile-padding-small: 1px;
$hidden-tile-height-small: 8px;
$hidden-tile-width-small: 5px;
$shown-tile-height-small: 30px;
$shown-tile-width-small: 21px;

$self-hidden-tile-height-small: 34px;
$self-hidden-tile-width-small: 24px;

// Medium
$tile-padding-medium: 1px;
$hidden-tile-height-medium: 9px;
$hidden-tile-width-medium: 6px;
$shown-tile-height-medium: 34px;
$shown-tile-width-medium: 24px;

$self-hidden-tile-height-medium: 46px;
$self-hidden-tile-width-medium: 32px;

// Large
$tile-padding-large: 2px;
$hidden-tile-height-large: 10px;
$hidden-tile-width-large: 7px;
$shown-tile-height-large: 40px;
$shown-tile-width-large: 28px;

$self-hidden-tile-height-large: 60px;
$self-hidden-tile-width-large: 42px;

/*-------------------- Controls & logs --------------------*/
// Small
$icon-button-size-small: 32px;
$button-width-small: 45px;
$button-height-small: 55px;

$text-line-width-small: 80px;
$text-font-size-small: 14px;
$text-line-height-small: 15px;

$log-line-width-small: 200px;
$log-line-height-small: 15px;
$log-font-size-small: 14px;

// Medium
$icon-button-size-medium: 36px;
$button-width-medium: 50px;
$button-height-medium: 60px;

$text-line-width-medium: 90px;
$text-font-size-medium: 15px;
$text-line-height-medium: 16px;

$log-line-width-medium: 220px;
$log-line-height-medium: 16px;
$log-font-size-medium: 15px;

// Large
$icon-button-size-large: 40px;
$button-width-large: 55px;
$button-height-large: 65px;

$text-line-width-large: 100px;
$text-font-size-large: 16px;
$text-line-height-large: 17px;

$log-line-width-large: 250px;
$log-line-height-large: 17px;
$log-font-size-large: 16px;

/*-------------------- Transform --------------------*/
$rotate-simple-90: rotate(90deg);
$transform-rotate: rotate(90deg) translateX(-22%);
$rotate-simple-180: rotate(180deg);

@mixin default-border {
	border: $tile-border-px solid $color-border;
	border-radius: 4px;
}

@mixin default-tile-border {
	border: $tile-border-px solid $color-tile-border;
	border-radius: 4%;
}

@mixin default-selected {
	border-radius: 4%;
	background: $radial-gradient-gold-2;
	background-size: 400% 400%;
	animation: linear-gradient 5s ease infinite;
}

@mixin default-flower {
	border-radius: 4%;
	background: $linear-gradient-multi;
	background-size: 400% 400%;
	animation: linear-gradient 4s ease infinite;
}

@mixin last-thrown {
	border-radius: 4%;
	background: $radial-gradient-gold;
	background-size: 400% 400%;
	animation: linear-gradient 6s ease infinite;
}

.main {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	// top: calc(env(safe-area-inset-top));
	// left: calc(env(safe-area-inset-left));
	// bottom: calc(env(safe-area-inset-bottom));
	// right: calc(env(safe-area-inset-right));
	// height: auto;
	// width: auto;
	// height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
	// width: calc(100vw - env(safe-area-inset-left) - env(safe-area-inset-right));
	// margin-top: calc(env(safe-area-inset-top));
	// margin-left: calc(env(safe-area-inset-left));
	// margin-bottom: calc(env(safe-area-inset-bottom));
	// margin-right: calc(env(safe-area-inset-right));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: $color-background;

	&.transparent {
		background-color: transparent;
	}
	&.rotated {
		transform: rotate(90deg);
	}
}

.list-item {
	align-self: center;
	height: 30px;
	padding: 0 !important;
}

@keyframes linear-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

$radial-gradient-gold: radial-gradient(#ffffff, #d8ba85, #ffffff, #ffffff);
$radial-gradient-gold-2: radial-gradient($color-tile-front, #ffffff, #e3c797, $color-tile-front);

$linear-gradient-multi: linear-gradient(-45deg, #e3ab9a, #df86a8, #73b8d1, #73c0ae);
$linear-gradient-multi-dark: linear-gradient(-45deg, #eb8667, #e6528b, #4bc6f2, #4ce6c2);
