$navbar-height: 60px;
$sidebar-width: 200px;
$color-navbar: #242526;

$color-message-sent-bg: #007bd3;
$color-message-sent-text: white;
$color-message-received-bg: rgb(190, 190, 190);
$color-message-received-text: black;
$color-grey-text: grey;
$color-detail: rgb(88, 101, 144);
$color-borders: rgb(170, 170, 170);

$light-brown: rgb(215, 205, 190);
$dark-brown: rgb(150, 125, 95);

$color-background: $light-brown;
$tile-back-color: teal;
$tile-front-color: rgb(220, 220, 220);

$hidden-tile-height: 9px;
$hidden-tile-width: 6px;
$shown-tile-height: 32px;
$shown-tile-width: 22px;
$tile-border-px: 1px;
$button-border-px: 1px;

// $self-hidden-tile-height: 50px;
// $self-hidden-tile-width: 35px;

$self-hidden-tile-height: 46px;
$self-hidden-tile-width: 32px;

// $flower-highlight: #9ba6bd;
$flower-highlight: #df9a94;
// $hidden-tile-height: 10px;
// $hidden-tile-width: 6px;
// $shown-tile-height: 36px;
// $shown-tile-width: 25px;

.main {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// height: 95vh;
	// width: 95vw;
	height: 100%;
	width: 100%;
	background-color: $color-background;
}
