$main-padding: 2px;
$panel-segment-width: 200px;
$wind-font-size: 60px;

/*-------------------- Colors --------------------*/
$brown-blanchedalmond: blanchedalmond;
$brown-bisque: bisque;
$brown-wheat: wheat;
$brown-dark: rgb(190, 175, 155);
$brown-medium: rgb(165, 150, 130);
$brown-darker: rgb(140, 125, 105);
$brown-burlywood: burlywood;
$brown-sienna: sienna;
$brown: brown;
$maroon: maroon;
$blue-cornflower: rgb(100, 149, 237);
$blue-royal: rgb(65, 105, 225);
$blue-steel: steelblue;
$blue-catalina: rgb(38, 61, 96);
$blue-glaucous: rgb(96, 130, 182);
$gold: gold;
$gold-light: rgb(220, 190, 150);
$gold-pale: rgb(230, 190, 138);
$gold-dark: #d4af37;
$grey-standard: grey;
$dark-38: rgb(38, 38, 38);
$grey-50: rgb(50, 50, 50);
$grey-80: rgb(80, 80, 80);
$grey-100: rgb(100, 100, 100);
$grey-170: rgb(170, 170, 170);
$purple-mediumpurple: rgb(147, 112, 219);
$purple-darkmagenta: darkmagenta;
$purple: purple;
$red-puce: rgb(169, 92, 104);
$red-poppy: rgb(227, 83, 53);
$red-venetian: rgb(164, 42, 4);

$green-sea: rgb(46, 139, 87);
$green-fern: rgb(62, 120, 59);
$green-fern-dark: rgb(80, 110, 80);

/*-------------------- Color vars --------------------*/
$color-background: $brown-darker;
$color-table: $brown-dark;
$color-tile-back: teal;
$color-tile-front: gainsboro;

$color-grey-text: $grey-standard;
$color-detail: $brown-sienna;
$color-wind: $brown-darker;
$color-tile-border: rgb(40, 40, 40);
$color-border: $grey-80;

$log-grey: $grey-standard;
$log-green: rgb(0, 120, 10);
$log-dark: rgb(30, 30, 30);

$radial-gradient-gold: radial-gradient($color-tile-front #d8ba85, #ffffff, $color-tile-front);
$radial-gradient-gold-2: radial-gradient($color-tile-front, #ffffff, #e3c797, $color-tile-front);

$linear-gradient-multi: linear-gradient(-45deg, #e3ab9a, #df86a8, #73b8d1, #73c0ae);
$linear-gradient-multi-dark: linear-gradient(-45deg, #eb8667, #e6528b, #4bc6f2, #4ce6c2);

/*-------------------- Tile sizes --------------------*/
$border-px: 1px;
$tile-border-px: 1px;

// original tile svg: 140 x 200 -> 14 20, 21 30, 24 34, 28 40, 42 60

// Small
$tile-padding-small: 4px;
$hidden-tile-height-small: 8px;
$hidden-tile-width-small: 5px;
$shown-tile-height-small: 30px;
$shown-tile-width-small: 21px;

$self-hidden-tile-height-small: 33px;
$self-hidden-tile-width-small: 23px;

// Medium
$tile-padding-medium: 6px;
$hidden-tile-height-medium: 9px;
$hidden-tile-width-medium: 6px;
$shown-tile-height-medium: 34px;
$shown-tile-width-medium: 24px;

$self-hidden-tile-height-medium: 40px;
$self-hidden-tile-width-medium: 27px;

// Large
$tile-padding-large: 8px;
$hidden-tile-height-large: 10px;
$hidden-tile-width-large: 7px;
$shown-tile-height-large: 40px;
$shown-tile-width-large: 28px;

$self-hidden-tile-height-large: 47px;
$self-hidden-tile-width-large: 32px;

/*-------------------- Controls & logs --------------------*/
// Small
$icon-button-size-small: 32px;
$button-height-small: 40px;
$button-width-small: 45px;

$text-line-width-small: 80px;
$text-font-size-small: 14px;
$text-line-height-small: 15px;
$font-weighted-small: 400;

$log-line-width-small: 200px;
$log-line-height-small: 15px;
$log-font-size-small: 14px;

// Medium
$icon-button-size-medium: 36px;
$button-height-medium: 50px;
$button-width-medium: 55px;

$text-line-width-medium: 90px;
$text-font-size-medium: 15px;
$text-line-height-medium: 16px;
$font-weighted-medium: 450;

$log-line-width-medium: 220px;
$log-line-height-medium: 16px;
$log-font-size-medium: 15px;

// Large
$icon-button-size-large: 40px;
$button-height-large: 60px;
$button-width-large: 65px;

$text-line-width-large: 100px;
$text-font-size-large: 16px;
$text-line-height-large: 17px;
$font-weighted-large: 500;

$log-line-width-large: 250px;
$log-line-height-large: 17px;
$log-font-size-large: 16px;

/*-------------------- Transform --------------------*/
$rotate-simple-90: rotate(90deg);
$transform-rotate: rotate(90deg) translateX(-22%);
$rotate-simple-180: rotate(180deg);

@mixin default-border {
	border: $border-px solid $color-border;
	border-radius: 4px;
}

@mixin default-tile-border-radius {
	border-radius: 12%;
}

@mixin default-tile-border {
	border: $tile-border-px solid $color-tile-border;
	@include default-tile-border-radius;
}

@mixin default-selected {
	@include default-tile-border-radius;
	background: $radial-gradient-gold-2;
	background-size: 400% 400%;
	animation: linear-gradient 5s ease infinite;
}

@mixin default-flower {
	@include default-tile-border-radius;
	background: $linear-gradient-multi;
	background-size: 400% 400%;
	animation: linear-gradient 4s ease infinite;
}

@mixin last-thrown {
	background: $radial-gradient-gold;
	background-size: 400% 400%;
	animation: linear-gradient 6s ease infinite;
}

.main {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: $color-background;

	&.transparent {
		background-color: transparent;
	}
}

.list-item {
	align-self: center;
	height: 30px;
	padding: 0 !important;
}

@keyframes linear-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.move-enter {
	opacity: 0;
	transform: translate(0, 0);
}

.move-enter-active {
	opacity: 1;
	transform: translate(0, $log-line-height-medium);
	transition: 5000ms ease;
}

.move-exit {
	opacity: 1;
	transform: translate(0, -$log-line-height-medium);
}

.move-exit-active {
	opacity: 0.01;
	transform: translate(0, -$log-line-height-medium);
}
